<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591975765807-6pbc1mbpucbqch5jjb68lnpal0ldt6pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591975765807-6pbc1mbpucbqch5jjb68lnpal0ldt6pv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591975765807-9s6a5evq6pask1f67g7tpnjndqnde5en.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwEjtpMMpzGZs6ScZHhLl3B0ip1G-i0po</string>
	<key>GCM_SENDER_ID</key>
	<string>591975765807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chicagotransittracker.app</string>
	<key>PROJECT_ID</key>
	<string>chicago-transit-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>chicago-transit-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591975765807:ios:55c2bcc394c73ec68b33da</string>
</dict>
</plist>
